.css_id_det_label {text-align: left;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: left;}
.css_data_det_label {text-align: left;vertical-align: middle;}
.css_data_det_line {height:0px;text-align: left;}
.css_hora_det_label {text-align: left;vertical-align: middle;}
.css_hora_det_line {height:0px;text-align: left;}
.css_nome_det_label {text-align: left;vertical-align: middle;}
.css_nome_det_line {height:0px;text-align: left;}
.css_matricula_det_label {text-align: left;vertical-align: middle;}
.css_matricula_det_line {height:0px;text-align: left;}
.css_produto_det_label {text-align: left;vertical-align: middle;}
.css_produto_det_line {height:0px;text-align: left;}
.css_codigo_det_label {text-align: left;vertical-align: middle;}
.css_codigo_det_line {height:0px;text-align: left;}
.css_destino_det_label {text-align: left;vertical-align: middle;}
.css_destino_det_line {height:0px;text-align: left;}
