.scContainerIndexTitle_widget3 { font-size: 25px;font-weight: bold }
.scContainerIndexNeuText_widget3 { font-size: 80px;font-weight: bold }
.scContainerIndexDimension_widget3 { font-size: 80px;font-weight: bold }
.scContainerIndexMetricPos_widget3 { font-size: 80px;font-weight: bold }
.scContainerIndexMetricNeu_widget3 { font-size: 80px;font-weight: bold }
.scContainerIndexNeuTextSize_widget3 { font-size: 80px }.scContainerIndexTitle_widget4 { font-size: 23px;font-weight: bold }
.scContainerIndexDimension_widget4 { font-size: 80px;font-weight: bold }.scContainerIndexTitle_widget5 { font-size: 25px;font-weight: bold }