.css_data_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_data_grid_line {vertical-align: top;text-align: center;}
.css_hora_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_hora_grid_line {vertical-align: top;text-align: center;}
.css_nome_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nome_grid_line {vertical-align: top;text-align: right;}
.css_matricula_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_matricula_grid_line {vertical-align: top;text-align: right;}
