.css_id_det_label {text-align: right;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: right;}
.css_data_det_label {text-align: right;vertical-align: middle;}
.css_data_det_line {height:0px;text-align: right;}
.css_hora_det_label {text-align: right;vertical-align: middle;}
.css_hora_det_line {height:0px;text-align: right;}
.css_produto_det_label {text-align: right;vertical-align: middle;}
.css_produto_det_line {height:0px;text-align: right;}
.css_codigo_det_label {text-align: right;vertical-align: middle;}
.css_codigo_det_line {height:0px;text-align: right;}
