.css_NM_Count_cnt_field {text-align: right}
.css_nivel_sum_label {text-align: right; vertical-align: top}
.css_nivel_sum_field {text-align: right; vertical-align: top}
.css_volume_sum_label {text-align: right; vertical-align: top}
.css_volume_sum_field {text-align: right; vertical-align: top}
