.css_id_det_label {text-align: left;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: left;}
.css_data_det_label {text-align: left;vertical-align: middle;}
.css_data_det_line {height:0px;text-align: left;}
.css_hora_det_label {text-align: left;vertical-align: middle;}
.css_hora_det_line {height:0px;text-align: left;}
.css_nivel_1_det_label {text-align: left;vertical-align: middle;}
.css_nivel_1_det_line {height:0px;text-align: left;}
.css_nivel_2_det_label {text-align: left;vertical-align: middle;}
.css_nivel_2_det_line {height:0px;text-align: left;}
.css_nivel_3_det_label {text-align: left;vertical-align: middle;}
.css_nivel_3_det_line {height:0px;text-align: left;}
.css_volume_1_det_label {text-align: left;vertical-align: middle;}
.css_volume_1_det_line {height:0px;text-align: left;}
.css_volume_2_det_label {text-align: left;vertical-align: middle;}
.css_volume_2_det_line {height:0px;text-align: left;}
.css_volume_3_det_label {text-align: left;vertical-align: middle;}
.css_volume_3_det_line {height:0px;text-align: left;}
