.css_NM_Count_cnt_field {text-align: right}
.css_volume_max_label {text-align: right; vertical-align: top}
.css_volume_max_field {text-align: right; vertical-align: top}
.css_volume_var_label {text-align: right; vertical-align: top}
.css_volume_var_field {text-align: right; vertical-align: top}
